body {
	opacity: 0.95;
	background-color: #111111;
	color: #55ff55;
	font-family: monospace;
	margin: 30px 0 40px 30px;
	line-height: 1.1;
}

a, a:visited, a:link {
	color: #60a3bc;
	text-decoration: none;
}

.life {
	margin-top: 30px;
}

pre {
	margin: 0.3em;
}

.output {
	color: white;
}
