body {
	opacity: 0.95;
  	background-color: #111111;
  	color: #55ff55;
  	font-family: monospace;
  	position: relative;
	margin-left: 40px;
	line-height: 1.1;
}

.output {
  color: white;
}
.active:after {
  content: '_';
} 
